{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>My-Gallery | {{title}}</title>
  {% else %}
    <title> My-Gallery </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Roboto:300,400,700|PT+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!-- Custom Theme files -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  {% endblock %}


</head>
<body>

   {% include "navbar.html" %}
    {% block content %}



    {%endblock%}
    


    {% block scripts %}
    <script>
      function myFunction() {
        var copyText = document.getElementById("link");
        copyText.select();
        document.execCommand("Copy");
        alert("Copied the text: " + copyText.value);
      }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
    function copy(ids) {
        var textCopied = document.getElementById(ids);
        text = textCopied.src;
        var elementary = document.createElement("input");
        document.body.appendChild(elementary);
        elementary.setAttribute('value', text);
        elementary.select();
        document.execCommand("copy");
        document.body.removeChild(elementary);
        alert("Copied: " + textCopied.src);
    }

    </script>
      {% bootstrap_javascript %}
      <script src="{% static 'js/scripts.js' %}"></script>

    {% endblock %}
    <div class="banner-1">
      <div class="cover-1">
        <h2 id="category">Welcome to my gallery,enjoy yourself through.</h2>
          <div class="container imageloc">
              <form action="{% url 'search_image' %}" class="form" role="search">
                  <input type="text" class="form-control" placeholder="Enter category" name="image_category">
                  <button class="submit">submit</button>
  
              </form>
  
          </div>
          
      </div>
      <div id="link">
        <a href="#mygallery">VIEW GALLERY</a>
      </div>
  
    </div>
    <div class="container wrap">
      <!-- Looping through images -->
      <div class="row">
      {% for image in images %}
          <!-- displaying images -->
           <div class="col-xs-6 col-sm-6  col-md-4 col-lg-3">
                   <div class="portfolio-wrap ">
                       <div class="portfolio-wrap hovereffect">
                           <a class="img-overlay" data-toggle="modal" data-target="#{{image.id}}" style="width:100%">
                               <img src="{{image.picture.cdn_url}}" href="" class="image" alt="Image" >
                               <div class="overlay">
                                   <h4>{{image.name}}</h4>
                               </div>
                           </a>
                       </div>
                   </div>
               </div>
          {% empty %}
      </div>
      <div class="notificaton">
              <h2 class="text-center"> Sorry no image for {{message}} category. Images are comming soon.</h2>
      </div>
      {% endfor %}
  
      <!-- looping through image details modal class -->
      {% for image in images %}
          <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="deleteModalLabel">Image Post</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <div class="row">
                              <div class="col-md-9 col-lg-9">
                                  <a href="{% url 'single' category_name=image.image_category.name image_id=image.id %}"><img id="img{{image.id}}" src="{{image.picture.cdn_url}}" class="img-thumbnail" alt="Image" style="cursor:pointer"></a>
                              </div>
                              <div class="col-md-3">
                                  <h4>Location</h4>
                                  <p>{{image.image_location.name}}</p>
                                  <h4>Category</h4>
                                  <p>{{image.image_category.name}}</p>
                              </div>
                              <div>
                                  <h2 class="desc">{{image.name}}</h2>
                                  <p class="desc">{{image.description}}</p>
                              </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <!-- <input class="form-control" type="text" value="{{image.image_link}}" id="link"> -->
                          <button type="button" class="btn btn-secondary" onclick="copy('img{{image.id}}')">Copy Link</button>
                         <!-- <a onclick="myFunction()"><button type="button"  class="btn btn-primary">Copy Link</button></a> -->
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>
  
  

</body>
</html>
